<?xml version="1.0" ?>
<robot name="Double">

<link name="base_link">
  <inertial>
    <origin xyz="-0.0024999999999999007 0.45500000000000007 0.0" rpy="0 0 0"/>
    <mass value="0.009346238144429636"/>
    <inertia ixx="3e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package:meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package:meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Top_Cycinder_1">
  <inertial>
    <origin xyz="0.0025000000000000937 -0.10000000000047016 5.214780820988583e-18" rpy="0 0 0"/>
    <mass value="0.051886106639119"/>
    <inertia ixx="0.00019" iyy="1.7e-05" izz="0.000173" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.005 -0.455 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Double_description/meshes/Top_Cycinder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.005 -0.455 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Double_description/meshes/Top_Cycinder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 1" type="continuous">
  <origin xyz="-0.005 0.455 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Top_Cycinder_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
</joint>

</robot>
