<?xml version="1.0" ?>
<robot name="Double" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Double_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Double_description)/urdf/Double.trans" />
<xacro:include filename="$(find Double_description)/urdf/Double.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.0024999999999999025 0.45500000000000007 0.0" rpy="0 0 0"/>
    <mass value="0.1180060740504666"/>
    <inertia ixx="3.7e-05" iyy="1.9e-05" izz="1.9e-05" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Double_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Double_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Bottom_Cyclinder_1_1">
  <inertial>
    <origin xyz="0.0069153106620056404 0.08727790038850192 -0.01343525569227115" rpy="0 0 0"/>
    <mass value="1.8008271134487048"/>
    <inertia ixx="0.010543" iyy="0.000717" izz="0.009842" ixy="-9.2e-05" iyz="0.001439" ixz="1.4e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.005 -0.640023 -0.075938" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Double_description/meshes/Bottom_Cyclinder_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.005 -0.640023 -0.075938" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Double_description/meshes/Bottom_Cyclinder_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Top_Cycinder_1_1">
  <inertial>
    <origin xyz="-0.0024999999999999077 0.09251136398569276 0.0379690338776315" rpy="0 0 0"/>
    <mass value="0.6551165985317337"/>
    <inertia ixx="0.002395" iyy="0.000502" izz="0.001896" ixy="-0.0" iyz="-0.000688" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.455 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Double_description/meshes/Top_Cycinder_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.455 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Double_description/meshes/Top_Cycinder_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 2" type="continuous">
  <origin xyz="-0.005 0.185023 0.075938" rpy="0 0 0"/>
  <parent link="Top_Cycinder_1_1"/>
  <child link="Bottom_Cyclinder_1_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="Revolute 3" type="continuous">
  <origin xyz="0.0 0.455 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Top_Cycinder_1_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

</robot>
